#content-club{
    margin-top: 100px;
}
#profil{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
#saved{
    margin-top: 100px;
}
.sampah{
    margin-bottom: 50px;
}
.role{
    background-color: rgb(56, 0, 59);
    color: white;
    font-size: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-role{
    margin: 20px;
}
.header1{
    color :rgb(56, 0, 59);
}
.ungu{
    background-color: rgb(56, 0, 59);
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container{
    flex: 1 0 auto;
  }
.text-white{
    color: white;
    margin: 10px;
}
.italic{
    size: 10em;
    font-style: italic;
    color: black;
}
.show{
    display: inline;
}
.hide{
    display: none;
}